.navbar-header {
	display: flex;
	align-items: center;
	font-weight: 400;
	float: left;
}

.navbar-right { float: right; }

.navbar-brand {
	margin: 0 !important;
	color: #6c757d;
	float: none !important;
	display: block !important;
	text-align: center;
	padding-top: 0;
	font-weight: 400;
}

@media (max-width: @screen-sm-max) {
	.navbar-brand {
		font-size: 15px;
		padding: 7px 0 0;
	}
}
