.navbar-header {
	display: flex;
	align-items: center;
	font-weight: 400;
}

.navbar-brand {
	margin-left: 30px !important;
}

@media (max-width: @screen-sm-max) {
	.navbar-brand {
		font-size: 15px;
		padding: 7px 0 0;
	}
}
